/* styles */
#table {
  background-color: #aaaaaa;
}

.bar{
  fill: #58585a;
}

.bar:hover{
  fill: #fef200;
}

.axis {
  font: 15px sans-serif;
}

.axis path{
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

header {
  background-color: #fef200;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 35px;
}

p {
  font-family: sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

h1 {
  font-family: sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  text-align:left;
  color: #58585a;
}

h2 {
  font-family: serif;
  color: #58585a;
}

h3 {
  color: #aaaaaa;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

h4 {
  color: #aaaaaa;
  font-size: 12pt;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

h5 {
  color: #58585a;
  font-size: 16pt;
  font-family: serif;
  text-align: center;
}

h6 {
  color: #58585a;
  font-size: 10pt;
  font-family: sans-serif;
  text-align: center;
}

footer {
  background-color: #aaaaaa;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color: #fef200;
}

#text {
  align-items: left;
}

.row {
  text-align: left;
}
